* {
    margin: 0%;
    padding: 0%;
}

#container {
    height: auto;
    min-height: 150px;
    max-height: 200px;
    width: 250px;
    background-color: #202124;
}

#dm-lbl {
    color: wheat;
}

.head {
    border-bottom: 2px solid yellow;
}

.inp-div {
    /* display: block; */
    /* background-color: red; */
    height: 20px;
    margin-top: 5px;
    
}

label {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* #container p {
    color: white;
    background-color: #2c2d31;
    font-weight: 600;
    text-align: center;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
} */

h1{
    color: white;
}

.center {
    text-align: center;
    background-color: #202124;
    
}

.margin {
    color: red;
    margin-top: 20px;
}

.mes {
    border-top: 2px solid yellow;
    color:white;
    font-weight: 600;
}



